.modal-dialog.modal-dialog-scrollable
    .modal-content
        .modal-header
            h5#exampleModalLabel.modal-title 一番賞
            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body
            #cards
        .modal-footer
            button#luckydraw.nes-btn(type='button') Lucky Draw
